# These variables are only available in your SST code.
# To apply them to your Lambda functions, checkout this doc - https://docs.serverless-stack.com/environment-variables#environment-variables-in-lambda-functions

MONGODB_URI=mongodb+srv://example...

# If you need to connect to a different Cognito User Pool, fill out the following variables
COGNITO_USER_POOL=
COGNITO_USER_POOL_CLIENT=
